@use '../../../SCSS/colors';

.container
{
    position: relative;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$grey;
}

.fill
{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: colors.$red;
}

.label
{
    font-size: 0.8rem;
    line-height: 1.12rem;
}

.valueLabel
{
    position: absolute;
    right: 0.5rem;
}